@charset "UTF-8";
/*
# 1.ボタン
 
ボタンです
 
## 汎用ボタン
 
    <button class="mod-btn" href="#">ボタン</button>
    <button class="mod-btn :hover" href="#">ボタン(:hover)</button>
 
*/
/* line 12, ../scss/test.scss */
.mod-btn {
  display: inline-block;
  padding: 5px;
  background-color: white; }
  /* line 16, ../scss/test.scss */
  .mod-btn:hover {
    background-color: gray; }

/* line 28, ../scss/test.scss */
.mod-btn2 {
  display: inline-block;
  padding: 5px;
  background-color: lime; }
  /* line 32, ../scss/test.scss */
  .mod-btn2 :hover {
    background-color: tomato; }

/*
# 2.ナビゲーション
 
<nav class="mod-nav">
  <a class="mod-nav-item is-active" href="#">Nav1</a>
  <a class="mod-nav-item" href="#">Nav2</a>
  <a class="mod-nav-item" href="#">Nav3</a>
  <a class="mod-nav-item" href="#">Nav4</a>
</nav>
*/
/* line 48, ../scss/test.scss */
.mod-nav {
  overflow: hidden; }

/* line 52, ../scss/test.scss */
.mod-nav-item {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  background: #ccc; }
  /* line 58, ../scss/test.scss */
  .mod-nav-item .is-active {
    background-color: tomato; }
