/*
# 汎用Sass pertialファイル

Author: Masaaki Morishita <ikasama3.0@gmail.com>

## margin, padding (5~30px)

*/

@charset 'UTF-8';

@for $num from 5 through 30 {
  .mt-#{$num} {
    margin-top: $num + px;
  }
  .mr-#{$num} {
    margin-right: $num + px;
  }
  .mb-#{$num} {
    margin-bottom: $num + px;
  }
  .ml-#{$num} {
    margin-left: $num + px;
  }
}

@for $num from 5 through 30 {
  .pt-#{$num} {
    padding-top: $num + px;
  }
  .pr-#{$num} {
    padding-right: $num + px;
  }
  .pb-#{$num} {
    padding-bottom: $num + px;
  }
  .pl-#{$num} {
    padding-left: $num + px;
  }
}